<div class="container">
  <h2 class="pt-2">JSTR's Yet Another Conway's Game of Life</h2>
  <div class="pt-2">    
    <figure>
      <blockquote class="blockquote">
        The <a href="https://en.wikipedia.org/wiki/Conway%27s_Game_of_Life">Game of Life</a>, also known simply as <strong>Life</strong>, a cellular automaton devised by the British mathematician <a href="https://en.wikipedia.org/wiki/John_Horton_Conway">John Horton Conway</a> in 1970. It is a zero-player game, meaning that its evolution is determined by its initial state, requiring no further input. One interacts with the Game of Life by creating an initial configuration and observing how it evolves. It is Turing complete and can simulate a universal constructor or any other Turing machine.
      </blockquote>
    </figure>
    <figcaption class="blockquote-footer">
      From <cite title="wikipedia">Conway's Game of Life Wikipedia</cite>
    </figcaption>
  </div>
</div>